autopep8
bcrypt
beautifulsoup4
certifi
charset-normalizer
click
Flask
Flask-Bcrypt
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
numpy
psycopg2
pycodestyle
requests
SQLAlchemy
urllib3
Werkzeug
WTForms