/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Color Pallette
===============
-
*/

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
===========================================
Search Result Cards for Ingredients Search
==========================================
*/
#search_ingredients .card {
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#search_ingredients .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*
===========================================
Search Result Cards for Recipes Search
==========================================
*/

#recipe-result {
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#recipe-result img {
  width: 100%;
  /* height: 150px; */
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*
=============== 
Recipes Search Inputs/ labels
===============
*/

.recipe-search-input,
.recipe-search-label,
select {
  display: inline-block;
  width: 200px;
}

/* Meal Plan buttons */
#Meal-buttons {
  display: none;
}

/* 
=====================================
Recipe Window Styling on meal planner
=====================================
*/
.window {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.window-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: 200%;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.574);
  cursor: pointer;
}

/*
===================================================
Search Result Cards for Recipes Search in meal plan
====================================================
*/

.card {
  border: 1px solid #ccc;

  border-radius: 3px;
  width: 80%;
}

.card img {
  width: 100%;
  /* height: 150px; */
  object-fit: cover;
  border-radius: 3px;
  margin-bottom: 5px;
}
