<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/app.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-YRgNp5AMHNbV0FvEl0/7Vq3/5F5l5YSJ0MJwZqlm+Zrhd8QmW01e6iKU6VfvU9+8U6WcUvOoJhTIVwODTmT49w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='remplr.ico') }}"
    />
    <title>{% block title %}{% endblock title %}</title>
    <!-- styles -->
    <link rel="stylesheet" href="" />
  </head>
  <body class="bg-light">
    <nav class="bg-dark d-flex justify-content-between p-2">
      <a href="/" class="navbar-brand bg-dark text-light p-2">REMPLR</a>
      <ul class="nav navbar-nav flex-row float-right">
        {% if session['nutritionist_id'] %}
        <li class="nav-item">
          <a
            href="/users/{{user.username}}/{{user.recipes}}"
            class="nav-link text-light pr-3"
            >Saved Recipes</a
          >
          <a
            href="/users/{{user.username}}/{{user.meal_plans}}"
            class="nav-link text-light pr-3"
            >Saved Meal Plans</a
          >
        </li>
        <li class="nav-item">
          <a href="/users/{{user.username}}/#" class="nav-link text-light pr-3"
            >My Clients</a
          >
        </li>

        <li class="nav-item">
          <a href="/users/{{user.username}}" class="nav-link text-light pr-3"
            >My Account</a
          >
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link text-light pr-3">Logout</a>
        </li>

        {% elif session['client_id'] %}
        <li class="nav-item">
          <a
            href="/users/{{user.username}}/{{user.ingredients}}"
            class="nav-link text-light pr-3"
            >Liked Ingredients</a
          >
          <a
            href="/users/{{user.username}}/{{user.meal_plans}}"
            class="nav-link text-light pr-3"
            >My Meal Plans</a
          >
        </li>

        <li class="nav-item">
          <a href="/users/{{user.username}}" class="nav-link text-light pr-3"
            >My Account</a
          >
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link text-light pr-3">Logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a href="/login" class="nav-link text-light pr-3">Login</a>
        </li>
        <li class="nav-item">
          <a href="/Register" class="nav-link text-light pr-3">Register</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <div class="container">
      {% for category, msg in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{category}}">{{ msg }}</div>
      {% endfor %}
    </div>
    {% block content %}{% endblock content %}
    <!-- include axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- include jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous"
    ></script>
    <!-- javascript -->
    <script src="../static/app.js"></script>
  </body>
</html>
