<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- styles -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/app.css') }}"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-YRgNp5AMHNbV0FvEl0/7Vq3/5F5l5YSJ0MJwZqlm+Zrhd8QmW01e6iKU6VfvU9+8U6WcUvOoJhTIVwODTmT49w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='remplr.ico') }}"
    />

    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body class="bg-light">
    <nav class="d-flex justify-content-between p-4">
      <a href="/" class="navbar-brand p-2"><h4>REMPLR</h4></a>

      <ul class="nav navbar-nav flex-row float-right">
        {% if session['nutritionist_id'] %}
        <li class="nav-item">
          <a
            href="/users/{{user.username}}/recipes"
            class="nav-link text-light pr-3"
            >Saved Recipes</a
          >
          <a
            href="/users/{{user.username}}/meal-plans"
            class="nav-link text-light pr-3"
            >Saved Meal Plans</a
          >
        </li>
        <li class="nav-item">
          <a href="/users/{{user.username}}/#" class="nav-link text-light pr-3"
            >My Clients</a
          >
        </li>

        <li class="nav-item">
          <a href="/users/{{user.username}}" class="nav-link text-light pr-3"
            >My Account</a
          >
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link text-light pr-3">Logout</a>
        </li>

        {% elif session['client_id'] %}
        <li class="nav-item">
          <a
            href="/users/{{user.username}}/{{user.ingredients}}"
            class="nav-link text-light pr-3"
            >Liked Ingredients</a
          >
          <a
            href="/users/{{user.username}}/{{user.meal_plans}}"
            class="nav-link text-light pr-3"
            >My Meal Plans</a
          >
        </li>

        <li class="nav-item">
          <a href="/users/{{user.username}}" class="nav-link text-light pr-3"
            >My Account</a
          >
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link text-light pr-3">Logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a href="/login" class="nav-link text-light pr-3">Login</a>
        </li>
        <li class="nav-item">
          <a href="/Register" class="nav-link text-light pr-3">Register</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <div>
      {% for category, msg in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{category}}">{{ msg }}</div>
      {% endfor %}
    </div>
    {% block content %}{% endblock content %}
    <footer>
      <div class="footer-wrapper">
        <div class="footer-col about">
          <h4>About</h4>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="footer-col support">
          <h4>Support</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>
        <div class="footer-col contact">
          <h4>Contact</h4>
          <ul>
            <li>Email: info@remplr.com</li>
            <li>Phone: 123-456-7890</li>
            <li>Address: 123 Main St, Vancouver Ca</li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="bottom">
      <div class="copyright">&copy; 2023 REMPLR. All rights reserved.</div>
      <div class="dev">Developed with &#10084; by Himanshu</div>
    </div>

    <!-- include jquery -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- include jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous"
    ></script>
    <!-- javascript -->
    <script src="../static/app.js"></script>
  </body>
</html>
