{% extends 'base.html' %} {% block title %}REMPLR | Replenish Your Meal{%
endblock title %} {% block content %}

<!-- Search bar -->

{% if session['nutritionist_id'] or session['client_id']%}
<section>
  <div class="text-right p-2 m-3">
    <form method="post" action="/">
      <label for="search_query">Search for ingredients:</label>
      <input
        class="p-1"
        type="text"
        name="search_query"
        id="search_query"
        placeholder="Enter ingredient name..."
      />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</section>
<img src="{{ image }}" alt="{{ name }}" />

{% endif %} {% endblock content %}
