{% extends 'base.html' %} {% block title %}REMPLR | Replenish Your Meal{%
endblock title %} {% block content %}

<!-- Section for Ingredients Search -->

{% if session['nutritionist_id'] or session['client_id']%}
<section>
  <div class="text-center p-2 m-3">
    <h3 for="search_query">Search for ingredients</h3>
    <form method="post" action="/search/ingredients">
      <input
        class="p-1"
        type="text"
        name="search_query"
        id="search_query"
        placeholder="Enter ingredient name..."
        required
      />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</section>

{% endif %} {% if session['nutritionist_id'] %}
<!-- Section for Recipes search  -->

<section>
  <div class="text-center p-2 m-3">
    <h3 for="search_query">Search for Recipes</h3>
    <form method="post" action="/search/recipes">
      <label for="search_criteria" class="p-1 recipe-search-label"
        >Search criteria:</label
      >
      <select
        id="search_criteria"
        name="search_criteria"
        class="p-2 bg-dark text-light recipe-search-label"
      >
        <option value="ingredients">Ingredients/ Item Name</option>
        <option value="nutrients">Nutrients</option>
      </select>
      <br />
      <div id="nutrients_form" style="display: none">
        <label for="min_carbs" class="p-1 recipe-search-label"
          >Minimum carbs:</label
        >
        <input
          type="text"
          id="min_carbs"
          name="min_carbs"
          class="p-1 recipe-search-input"
          placeholder="required"
        />
        <br />
        <label for="max_carbs" class="p-1 recipe-search-label"
          >Maximum carbs:</label
        >
        <input
          type="text"
          id="max_carbs"
          name="max_carbs"
          class="p-1 recipe-search-input"
          placeholder="required"
        />
        <br />
        <label for="min_protein" class="p-1 recipe-search-label"
          >Minimum protein:</label
        >
        <input
          type="text"
          id="min_protein"
          name="min_protein"
          class="p-1 recipe-search-input"
          placeholder="required"
        />
        <br />
      </div>
      <div id="search_recipe_form">
        <label for="search_query" class="p-1 recipe-search-label"
          >Search for?</label
        >
        <input
          type="text"
          id="search_query"
          name="search_query"
          class="p-1 recipe-search-input"
          placeholder="Search by Ingredient or Item Name"
        />
        <br />
      </div>
      <button type="submit" class="btn btn-info">Search</button>
    </form>
  </div>
</section>
<section>
  <a href="/meal-planner"
    ><h5 class="text-center bg-info text-light p-5">
      Start Designing Meal Plans For Your Clients
    </h5></a
  >
</section>
{% endif %} {% endblock content %}
