{% extends 'base.html' %} {% block title %}REMPLR | Saved Meal Plans{% endblock
title %} {% block content %} {% if session['nutritionist_id'] %}

<div class="text-center">
  <h1>Your Saved recipes:</h1>
</div>
<div class="card-deck row">
  {% for meal_plan_name in mealplan_names %}
  <div class="col-sm-6 col-md-4 p-3">
    <div class="card" id="meal-plan-card">
      <div class="card-body">
        <h5 class="card-title">{{meal_plan_name}}</h5>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endif %} {% endblock content %}
