{% extends 'base.html' %} {% block title %}REMPLR | Meal Planner{% endblock
title %} {% block content %}
<div class="text-center m-3">
  <!--- button to Start Meal plan and show header and meal-buttons -->
  <button id="new-meal-plan" class="btn btn-success p-3 m-2 rounded">
    Create New Meal Plan
  </button>
</div>
<div class="text-center p-4 m-3 d-flex">
  <table>
    <thead id="weekdays"></thead>
    <tbody id="recipe-area"></tbody>
  </table>
</div>

<!-- Meal plan buttons to add Meal Type rows -->
<div class="text-right m-3" id="Meal-buttons">
  <button id="breakfast-button" class="btn btn-secondary p-3 m-2 rounded">
    Add BreakFast
  </button>
  <button id="snack1-button" class="btn btn-secondary p-3 m-2 rounded">
    Add Snack1
  </button>
  <button id="lunch-button" class="btn btn-secondary p-3 m-2 rounded">
    Add Lunch
  </button>
  <button id="snack2-button" class="btn btn-secondary p-3 m-2 rounded">
    Add Snack2
  </button>
  <button id="dinner-button" class="btn btn-secondary p-3 m-2 rounded">
    Add Dinner
  </button>
</div>

<!-- Recipe search window once clicked in meal plan table -->
<div id="recipeWindow" class="window">
  <div class="window-content">
    <span class="close">&times;</span>
    <form id="recipeForm">
      <label for="searchQuery" class="pt-2">Search for Recipe:</label>
      <input type="text" id="searchQuery" name="searchQuery" class="p-2" />
      <button type="submit" class="btn btn-info p-2">Search</button>
    </form>
    <div id="recipeResults"></div>
  </div>
</div>

{% endblock %}
