{% extends 'base.html' %} {% block title %}REMPLR | Register{% endblock title %}
{%block content %}

<div class="image-container">
  <a href="register/nutritionist"
    ><img
      src="../static/nutritionist.png"
      style="
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        transition: 0.3s;
        margin-bottom: 2%;
      "
  /></a>
  <a href="register/client"
    ><img
      src="../static/client.png"
      style="
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        transition: 0.3s;
        margin-bottom: 2%;
      "
  /></a>
</div>
{% endblock content %}
