{% extends 'base.html' %} {% block title %}REMPLR | Register | Client{% endblock title %}
{%block content %}

  <h1 class="display-1 text-center p-3">Register as Client</h1>
  <p class="lead text-center">Register below to get started with sustainable eating!</p>
  <div class="container">
    <div class="register-box">
  <form method="POST">
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
    'hidden' %}
    <p>{{field.label}} {{field(class_="form-control")}}</p>
    {% for error in field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
    </p>
    {% endfor %}
  <button class="btn btn-success" type="submit">Register</button>
</form>
</div>
</div>
{% endblock content %}