{% extends 'base.html' %} {% block title %}REMPLR | Register | Nutritionist{% endblock title %}
{%block content %}

 <div id='register-nutritionist'>
  <h1 class="display-1 text-center">Register as Nutritionist</h1>
  <p class="lead text-center">Register below to start helping your clients!</p>
<div class="container">
  <div class="register-box">
  <form method="POST">
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
    'hidden' %}
    <p>{{field.label}} {{field(class_="form-control")}}</p>
    {% for error in field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
    </p>
    {% endfor %}
  <button class="btn btn-success" class='register' type="submit">Register</button>
</form>
</div>
</div>
 </div>
{% endblock content %}