{% extends 'base.html' %} {% block title %}REMPLR | Saved Meal Plans{% endblock
title %} {% block content %} {% if session['nutritionist_id'] %}
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0 p-5 text-center">
    {% for meal_plan in mealplan_names %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{meal_plan}}</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} {% endblock %}
