{% extends 'base.html' %} {% block title %}REMPLR | My Account{% endblock title
%} {%block content %} {% if session['nutritionist_id'] or session['client_id']%}

<div class="m-3" id="user-info">
  <div class="info-container">
    <h1 class="text-center">Hi {{user.username}}!</h1>
    <p><b>First Name:</b> {{user.first_name}}</p>
    <p><b>Last Name:</b> {{user.last_name}}</p>
    <p><b>Email:</b> {{user.email}}</p>
    <a href="#"><button class="btn-danger">Delete Account</button></a>
  </div>
</div>
{% endif %} {% endblock content %}
