/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Color Pallette
===============
-
*/

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
    background-color: #dadad9;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* 
======
Navbar
======
*/
#navel {
  display: none;
}

.nav-btn-container {
  align-items: right;
  display: inline-block;
  cursor: pointer;
  margin-right: 2%;
  position: absolute;
  right: 0;
  top: 1;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #dadad9;
  margin: 6px 0;
  transition: 0.4s;
}

.navbar {
  padding: 25px;
  font-size: 20px;
  color: #f7f4f3;
  background-color: #212c31;
  display: none;
}

nav ul {
  margin-right: 5%;
}
nav a {
  color: white;
}

nav a:hover {
  color: #dadad9;
}

/* .logo {
  animation: rotate 5s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate();
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* User Info page/ account page */
#user-info {
  background-image: url("../user-info.svg");
  padding-left: 5%;
  background-size: auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.info-container {
  height: 90vh;
}

/* 
=================
Registration page
=================
 */
.image-container {
  display: flex;
  justify-content: space-between;
}

.image-container a {
  text-decoration: none;
  color: blue;
}
.image-container img {
  float: left;

  width: 100%;
}

/* 
==========
Login page
==========
*/

#login-page {
  background-image: url("../login.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-box {
  background-color: #fff;
  padding: 30px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* 
====================
Individual Register page 
====================
*/

.register-box {
  background-color: #fff;
  padding: 30px;
  width: 40%;
  height: 70%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Ingredient Search */

.ingredient-search {
  background-image: url("../ingredient.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* recipe Search */

.recipe-search {
  background-image: url("../recipe.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#register-nutritionist {
  background-image: url("../register_nutritionist.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#register-client {
  background-image: url("../register_client.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

/*
===========================================
Search Result Cards for Ingredients Search
==========================================
*/
#search_ingredients .card {
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#search_ingredients .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*
===========================================
Search Result Cards for Recipes Search
==========================================
*/

#recipe-result {
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#recipe-result img {
  width: 100%;
  /* height: 150px; */
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*
=============== 
Recipes Search Inputs/ labels
===============
*/

.recipe-search-input,
.recipe-search-label,
select {
  display: inline-block;
  width: 200px;
}

/* Meal Plan buttons */
#Meal-buttons {
  display: none;
}

/* 
=====================================
Recipe Window Styling on meal planner
=====================================
*/
.window {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.window-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: 200%;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.574);
  cursor: pointer;
}

/*
===================================================
Search Result Cards for Recipes Search in meal plan
====================================================
*/

.card {
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 80%;
}

.card img {
  width: 100%;
  /* height: 150px; */
  object-fit: cover;
  border-radius: 3px;
  margin-bottom: 5px;
}

/* Footer Elements */

footer {
  background-color: #f7f7f7;
  padding: 30px 0;
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  width: calc(100% / 3 - 20px);
  margin-bottom: 20px;
  padding-right: 20px;
}

.footer-col:last-child {
  padding-right: 0;
}

.footer-col h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-col li {
  margin-bottom: 5px;
}

.footer-col li a {
  color: #555;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-col {
    width: 100%;
    padding-right: 0;
  }
}

/* Copyright notice styles */

.bottom {
  display: flex;
  justify-content: space-around;
}

.copyright,
.dev {
  background-color: #f7f7f7;
  color: #555;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
}

.copyright {
  margin-left: 25%;
}

.dev {
  margin-right: 25%;
}

/* Saved Meal Plans */

#meal-plans {
  background-image: url("../meal-plans.svg");
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
#meal-plans h2 {
  color: white;
}

#meal-plan-card {
  background-image: url("../meal-plan-card.svg");
  opacity: 0.8;
  color: #242038;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  margin: 2%;
  padding-top: 15%;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
